POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/postgres
DEV_profile=dev
OTP_CONFIG=passord
OTP_CONFIG_STATUS=false
FEIDE_CLIENT_ID=ditio-feide-client-id
FEIDE_CLIENT_SECRET=ditio-feide-client-secret